.h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion {
    padding: 20px 152px 100px 152px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.accordionStart{
    background-color: var(--color-black);
    color:  var(--color-white);
    /* border-radius: 10px; */
    border: 1px solid #FFFFFF;
}

.accordionTypo{
    border-color: var(--color-white);
    border-radius: 0px, 10px, 10px, 0px;
}
.accordionDetails{
   color:  var(--color-black);
   background-color: var(--color-white);
   border-radius: 0px, 10px, 10px, 0px;
}

.customAccordionSummary .MuiSvgIcon-root {
    color: var(--color-primary);
}

